@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Rajdhani:wght@600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.animated-bg {
    background: linear-gradient(
        270deg,
        #56126F,
        #191308,
        #37392E
    );
    background-size: 600% 600%;
    animation: gradientAnimation 16s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0 50%; }
}

